<% if @issue %>
  <div class="contextual">
    <a href="#" id="toggle-private-form" data-add="<%= l(:button_add) %>" data-cancel="<%= l(:button_cancel) %>"><%= l(:button_add) %></a>
  </div>
<% end %>
<h3><%= l(:private_tags) %></h3>
<% if @issue %>
  <div id="add-private-form" class="tags-form">
    <%= text_field_tag 'private_tag' %><%= submit_tag 'add', id: 'add_private', data: {url: private_tags_path, api_url: tags_api_private_path, issue_id: @issue.id}, style: 'display:none;' %>
  </div>
<% end %>
<div class="tags-inner-wrapper">
  <hr>
  <div class="tags-container" id="private-tags-container">
    <% private_tags.each do |tag_id, tag_name| %>

      <% if @issue %>

        <span class="tag-container">
          <%= link_to_tag(tag_name, tag_id, :private_tag_id) %>
          <span class="tag-del" data-url="<%= destroy_private_tagging_path(issue_id: @issue.id, tag_id: tag_id) %>">✕</span>
        </span>

      <% else %>
        <%= link_to_tag(tag_name, tag_id, :private_tag_id) %>
      <% end %>
    <% end %>
    <% if private_tags.length > 50 %>
      <span class="tag">...</span>
    <% end %>
  </div>
  <!-- <hr> -->
</div>
