<% can_manage_public = @issue && User.current.allowed_to?(:manage_public_tags, @project) %>
<% if can_manage_public %>
  <div class="contextual">
    <a href="#" id="toggle-public-form" data-add="<%= l(:button_add) %>" data-cancel="<%= l(:button_cancel) %>"><%= l(:button_add) %></a>
  </div>
<% end %>
<h3><%= l(:public_tags) %></h3>
<% if can_manage_public %>
  <div id="add-public-form" class="tags-form">
    <%= text_field_tag 'public_tag' %><%= submit_tag 'add', id: 'add_public', data: {url: public_tags_path, api_url: tags_api_public_path, issue_id: @issue.id}, style: 'display:none;' %>
  </div>
<% end %>
<div class="tags-inner-wrapper">
  <hr>
  <div class="tags-container" id="public-tags-container">
    <% public_tags.each do |tag_id, tag_name| %>

      <% if can_manage_public %>
        <span class="tag-container">
          <%= link_to_tag(tag_name, tag_id, :public_tag_id) %>
          <span class="tag-del" data-url="<%= destroy_public_tagging_path(issue_id: @issue.id, tag_id: tag_id) %>">✕</span>
        </span>
      <% else %>
        <%= link_to_tag(tag_name, tag_id, :public_tag_id) %>
      <% end %>
    <% end %>

    <% if public_tags.length > 50 %>
      <span class="tag">...</span>
    <% end %>
  </div>
  <!-- <hr> -->
</div>
