<h2><%= l(:tag_list) %></h2>

<%= form_tag({}, :method => :get) do %>
<fieldset><legend><%= l(:project_tags_settings) %></legend>
<label for='name'><%= l(:field_name) %></label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), {:controller => 'admin_tags', :action => 'index'}, :class => 'icon icon-reload' %>
</fieldset>
<% end %>


<table class="list" style="margin-top:10px;">
  <thead><tr>
    <th><%= l(:tag) %></th>
    <th><%= l(:tag_creator) %></th>
    <th><%= l(:tag_created) %></th>
    <th><%= l(:tag_count) %></th>
    <th></th>
  </tr></thead>
  <tbody>
    <% @tags.each do |tag| %>
      <% first_tagging = tag.taggings.first %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= tag.name %></td>
        <td><%= User.find(first_tagging.tagger_id).login %></td>
        <td><%= first_tagging.created_at.to_s(:db) %></td>
        <td><%= tag.taggings_count %></td>
        <td class="buttons">
          <%= link_to l(:button_delete), admin_tag_path(tag), method: :delete, class: 'icon icon-del delete-tag', data: { confirm: l(:tag_delete_all_confirm) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @tag_pages %></p>
