<h2>Lista tagów</h2>

<div class="tags-wrapper" style="width:40%;">

  <%= form_tag({}, :method => :get) do %>
  <fieldset><legend>Tagi</legend>
  <label for='name'>Name</label>
  <%= text_field_tag 'name', params[:name], :size => 30 %>
  <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
  <%= link_to l(:button_clear), {:controller => 'admin_tags', :action => 'index'}, :class => 'icon icon-reload' %>
  </fieldset>
  <% end %>


  <table class="list" style="margin-top:10px;">
    <thead><tr>
      <th>Tag</th>
      <th>Creator</th>
      <th>Utworzono</th>
      <th>Liczba otagowań</th>
      <th></th>
    </tr></thead>
    <tbody>
      <% @tags.each do |tag| %>
        <% first_tagging = tag.taggings.first %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= tag.name %></td>
          <td><%= User.find(first_tagging.tagger_id).login %></td>
          <td><%= first_tagging.created_at.to_s(:db) %></td>
          <td><%= tag.taggings_count %></td>
          <td class="buttons">
            <%= link_to 'Delete', admin_tag_path(tag), method: :delete, class: 'icon icon-del delete-tag', data: {confirm: 'You sure?'} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="pagination"><%= pagination_links_full @tag_pages %></p>

</div>
